@font-face {
    font-family: GameFont;
    src: 
	url("NotoSansTC-Regular.otf") format('opentype'),
	url("NotoSansTC-Regular.ttf") format('truetype');
}
// fonts

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}